/*body {
  background-size: cover;
  display: flex;
  justify-content: center;
}

body, h1 {
font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: lighter;
}
*/
